{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Muhammadabdullox - Profile Page</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/tooplate-ben-resume-style.css'%}">
<!--
Tooplate 2120 Ben Resume
https://www.tooplate.com/view/2120-ben-resume
-->
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="#">
                Muhammadabdullox Resume
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Tanishtiruv</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Men xakimda</a>
                    </li>

                    <li class="nav-item">
                        <a href="#testimonials" class="nav-link smoothScroll">Sharhlar</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row">

                  <div class="mx-auto col-lg-5 col-md-5 col-10">
                      <img src="{{banner.img.url}}" class="img-fluid" alt="Muhammadabdullox">
                  </div>

                   <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                        <div class="hero-text">

                            <h1 class="hero-title">👋 Muhammadabdullox, Back end developer</h1>

                            <a href="#" class="email-link">
                                abdullohkozimjonov17@gmail.com
                            </a>
                          
                        </div>
                    </div>

            </div>
        </div>
    </section>


    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="mb-4">Bu Menning loihalarim</h3>

                    <p>{{ banner.about_me }}</p>

                    <p>{{ banner.about_me }}</p>

                    <ul class="mt-4 mb-5 mb-lg-0 profile-list list-unstyled">
                        <li><strong>Full Name :</strong> {{ info.full_name }} </li>

                        <li><strong>Date of Birth:</strong>{{ info.date_of_birth }}</li>

                        <li><strong>Website :</strong> {{ info.website }}</li>

                        <li><strong>Email :</strong> {{ info.email }}</li>
                    </ul>
                </div>

                <div class="col-lg-5 mx-auto col-md-6 col-12">
                    <img src="{{banner.img.url}}" class="img-fluid" alt="Muhammadabdullox back end programist">
                </div>

            </div>
            <div class="row about-third">
                {% for i in about %}
            	<div class="col-lg-4 col-md-4 col-12">
                <h3>{{ i.title }}</h3>
                <p>{{ i.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- TESTIMONIAL -->
     <section class="testimonials section-padding" id="testimonials">
          <div class="container">
               <div class="row">

                    <div class="col-12">
                        <h3 class="mb-5 text-center">Xam kasiblar</h3>

                        <div class="owl-carousel owl-theme" id="testimonials-carousel">
                            {% for i in people_say %}
                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="{{ i.img.url }}" class="img-fluid" alt="testimonials image">
                                    </div>

                                    <div class="testimonials-info">
                                        <p></p>

                                        <h6 class="mb-0">{{ i.name }}</h6>
                                        <span>{{ i.descriprion }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>

               </div>
          </div>
     </section>


     <!-- FAQ -->
     <section class="faq section-padding">
        
        <div class="container">
            
            <div class="row">

                <div class="col-lg-12 col-12">

                    <h3 class="mb-5">Tez-tez so'raladigan savollar</h3>

                    <div class="accordion" id="accordionExample">
                        {% for i in fac %}
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{ i.question }}
                            </button>
                          </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>{{ i.answer }}</p>

                            <p>Ular sizning tijorat veb-saytlaringiz uchun ishlatilishi mumkin</p>
                          </div>
                        </div>
                      </div>
                        {% endfor %}
                </div>
           	 </div><!-- col -->
        	</div><!-- row -->
        </div><!-- container -->
    </section>


     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-12">
            <form action="#" method="get" class="contact-form webform"  role="form">
                
                <div class="form-group d-flex flex-column-reverse">
                    <input type="text" class="form-control" name="full_name" id="cf-name" placeholder="Your Name">

                    <label for="cf-name" class="webform-label">Full Name</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <input type="email" class="form-control" name="email" id="cf-email" placeholder="Your Email">

                    <label for="cf-email" class="webform-label">Your Email</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <textarea class="form-control" rows="5" name="message" id="cf-message" placeholder="Your Message"></textarea>

                    <label for="cf-message" class="webform-label">Message</label>
                </div>

                <button type="submit" class="form-control" id="submit-button" name="submit">Send</button>
            </form>
          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">{{ contact.full_name }}</h3>

                <p class="mb-1">{{ contact.phone_number }}</p>

                <p>
                    <a href="#">
                        {{ contact.email }}
                    <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://www.facebook.com/profile.php?id=100088859888991" rel="noopener" class="fab fa-facebook"></a></li>
                    <li><a href="{{ contact.twitter }}" rel="noopener" class="fab fa-twitter"></a></li>
                    <li><a href="{{ contact.instagram }}" rel="noopener" class="fab fa-instagram"></a></li>
                    <li><a href="{{ contact.yutube }}" rel="noopener" class="fab fa-youtube"></a></li>
                </ul>
                
              <p class="copyright-text mt-5 pt-3">Copyright &copy; 2024 Muhammadabdullox Resume Page</p>
            </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.min.js'%}"></script>
     <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <script src="{% static 'js/smoothscroll.js'%}"></script>
     <script src="{% static 'js/owl.carousel.min.js'%}"></script>
     <script src="{% static 'js/custom.js'%}"></script>

</body>
</html>